#
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_CLIENT_CERT_PATH=
# If oidc is enabled password is your token issued by mlflow-oidc
MLFLOW_TRACKING_PASSWORD=
# If oidc is enabled username is your email associated to your oidc account
MLFLOW_TRACKING_USERNAME
# Custom, not from mlflow: override the base URL shown in "View run at:"
MLFLOW_DISPLAY_URI=
